@media screen and (max-width: 401px) {
    .logoDay h1 {
        font-size: 50px;
    }
    
    .logoDay h3 {
        margin-top: -40px;
        font-size: 15px;
        width: 90%;
    }
}

@media screen and (max-width: 355px) {
    .logoDay h1 {
        font-size: 43px;
    }
    
    .logoDay h3 {
        margin-top: -20px;
        font-size: 15px;
        width: 95%;
    }
}

@media screen and (max-width: 1600px) {
      .topnav {
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 650px) {
    .topnav nav li a {
        font-size: 14px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .topnav {
        width: 100%;
        float: right;
    }

    .logoDay h3 {
        margin-top: -50px;
        font-size: 15px;
        width: 90%;
    }
}

@media screen and (max-width: 920px) {
    #bl1, #bl2, #bl3, #bl4, #bl5 {
        width: 70%;
    }

    .img1-3, .img2-3, .img3-3, .img4-3, .img5-3 {
        display: none;
    }

    .img1-1, .img1-2, .img2-1, .img2-2, .img3-1, .img3-2, .img4-1, .img4-2, .img5-1, .img5-2 {
        height: 140px;
        width: 140px;
    }

    .np1, .np1-2, .np1-3, .np1-4, .np1-5{
        height: 50px;
        width: 200px;
        margin-left: -30px;
        margin-top: -20px;
    }

    .npt1, .npt1-2, .npt1-3, .npt-1-4, .npt1-5 {
        font-size: 17px;
        margin-left: -5px;
    }

    .npt1-2 {
        margin-left: 1px;
    }

    .np2, .np2-2, .np2-3, .np2-4, .np2-5 {
        height: 50px;
        width: 200px;
        margin-top: 50px;
        margin-right: -25px;
    }

    .npt2, .npt2-2, .npt2-3, .npt2-3, .npt2-4, .npt2-5 {
        font-size: 17px;
    }

    .sp1, .sp2, .sp3, .sp4, .sp5 {
        margin-left: -97px;
        height: 60%;
        width: 80%;
    }

    .description, .description2, .description3, .description4, .description5 {
        font-size: 100%;
        margin-left: -45px;
    }
}

/* Адаптация с разрешением от Ipad */
@media screen and (max-width: 840px) {
    #bl1, #bl2, #bl3, #bl4, #bl5 {
        width: 70%;
    }

    .img1-3, .img2-3, .img3-3, .img4-3, .img5-3 {
        display: none;
    }

    .img1-1, .img1-2, .img2-1, .img2-2, .img3-1, .img3-2, .img4-1, .img4-2, .img5-1, .img5-2 {
        height: 120px;
        width: 120px;
    }

    .np1, .np1-2, .np1-3, .np1-4, .np1-5{
        height: 40px;
        width: 190px;
        margin-left: -75px;
        margin-top: -20px;
        z-index: -999;
    }

    .npt1, .npt1-2, .npt1-3, .npt-1-4, .npt1-5 {
        font-size: 15px;
        margin-left: -7px;
        margin-top: 17px;
    }

    .npt1-2 {
        margin-left: -6px;
    }

    .np2, .np2-2, .np2-3, .np2-4, .np2-5 {
        height: 40px;
        width: 190px;
        margin-top: 50px;
        margin-right: -75px;
    }

    .npt2, .npt2-2, .npt2-3, .npt2-3, .npt2-4, .npt2-5 {
        font-size: 15px;
    }

    .npt2-2 {
        margin-left: -5px;
    }

    .sp1, .sp2, .sp3, .sp4, .sp5 {
        margin-left: -85px;
        height: 60%;
        width: 80%;
    }

    .description, .description2, .description3, .description4, .description5 {
        font-size: 15px;
        margin-left: -75px;
        right: -7;
    }
}

@media screen and (max-width: 690px) {
    #bl1, #bl2, #bl3, #bl4, #bl5 {
        width: 70%;
    }

    .img1-3, .img2-3, .img3-3, .img4-3, .img5-3 {
        display: none;
    }

    .img1-1, .img1-2, .img2-1, .img2-2, .img3-1, .img3-2, .img4-1, .img4-2, .img5-1, .img5-2 {
        height: 120px;
        width: 120px;
    }

    .np1, .np1-2, .np1-3, .np1-4, .np1-5{
        height: 40px;
        width: 190px;
        margin-left: -95px;
        margin-top: -20px;
        z-index: -999;
    }

    .npt1, .npt1-2, .npt1-3, .npt-1-4, .npt1-5 {
        font-size: 15px;
        margin-left: -7px;
        margin-top: 17px;
    }

    .npt1-2 {
        margin-left: -6px;
    }

    .np2, .np2-2, .np2-3, .np2-4, .np2-5 {
        height: 40px;
        width: 190px;
        margin-top: 70px;
        margin-right: -115px;
    }

    .npt2, .npt2-2, .npt2-3, .npt2-3, .npt2-4, .npt2-5 {
        font-size: 15px;
    }

    .npt2-2 {
        margin-left: -5px;
    }

    .sp1, .sp2, .sp3, .sp4, .sp5 {
        margin-left: -69px;
        height: 60%;
        width: 95%;
    }

    .description, .description2, .description3, .description4, .description5 {
        font-size: 15px;
        margin-left: -110px;
        right: -7;
    }
}

@media screen and (max-width: 600px) {
    #bl1, #bl2, #bl3, #bl4, #bl5 {
        width: 70%;
    }

    #arrow1, #arrow2, #arrow3, #arrow4, #arrow5 {
        margin-top: 10px;
        font-size: 45px;
    }

    .img1-3, .img2-3, .img3-3, .img4-3, .img5-3 {
        display: none;
    }

    .img1-1, .img1-2, .img2-1, .img2-2, .img3-1, .img3-2, .img4-1, .img4-2, .img5-1, .img5-2 {
        height: 100px;
        width: 100px;
    }
     /* Редакт фото парней */
    .img1-1, .img2-1, .img3-1, .img4-1, .img5-1 {
        margin-top: 10px;
        margin-left: -30px;
    }

     /* Редакт фото девушек */
     .img1-2, .img2-2, .img3-2, .img4-2, .img5-2 {
        margin-top: -10px;
        margin-right: -30px;
    }

    .np1, .np1-2, .np1-3, .np1-4, .np1-5{
        height: 40px;
        width: 190px;
        margin-left: -200px;
        margin-top: 70px;
        z-index: 999;
    }

    .npt1, .npt1-2, .npt1-3, .npt-1-4, .npt1-5 {
        font-size: 15px;
        margin-left: -7px;
        margin-top: 17px;
        height: 5px;
    }

    .npt1-2 {
        margin-left: -6px;
    }

    .np2, .np2-2, .np2-3, .np2-4, .np2-5 {
        height: 40px;
        width: 190px;
        margin-top: -40px;
        margin-right: -180px;
        z-index: -999;
    }

    .npt2, .npt2-2, .npt2-3, .npt2-3, .npt2-4, .npt2-5 {
        font-size: 15px;
    }

    .npt2-2 {
        margin-left: -5px;
    }

    .sp1, .sp2, .sp3, .sp4, .sp5 {
        margin-left: -55px;
        height: 60%;
        width: 90%;
    }

    .description, .description2, .description3, .description4, .description5 {
        font-size: 15px;
        margin-left: -130px;
        right: -7;
    }
}

@media screen and (max-width: 505px) {
  .sp1, .sp2, .sp3, .sp4, .sp5 {
        margin-left: -55px;
        height: 60%;
        width: 90%;
    }

    .description, .description2, .description3, .description4, .description5 {
        font-size: 13px;
        margin-left: -140px;
        right: -7;
    }
}

@media screen and (max-width: 455px) {
    .sp1, .sp2, .sp3, .sp4, .sp5 {
          margin-left: -40px;
          height: 60%;
          width: 90%;
      }
  
      .description, .description2, .description3, .description4, .description5 {
          font-size: 12px;
          margin-left: -160px;
          right: -7;
      }
}

@media screen and (max-width: 400px) {
    .sp1, .sp2, .sp3, .sp4, .sp5 {
          margin-left: -40px;
          height: 60%;
          width: 90%;
      }
  
      .description, .description2, .description3, .description4, .description5 {
          font-size: 12px;
          margin-left: -160px;
          right: -7;
      }
  }
